


.navbar  {

        font-size: 50px;
        text-align: center;
        padding: 20px;
       
}
section {
        width: 500px;
        margin: 0x;

}
section img {
        width: 300px;
        height: 300px;
}

aside {

}



